In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

from sklearn.model_selection import train_test_split
from ydata_profiling import ProfileReport

/opt/anaconda3/envs/Mineria/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import re

# Define a function to check for special characters
def has_special_characters(record):
    # Regular expression to match special characters
    return bool(re.search(r'[^a-zA-Z0-9\s]', record))

In [40]:
def check_possible_dummyable_variables(data, max_unique_values=10):
    """
    Check for possible dummyable variables in the DataFrame and return a DataFrame
    with column names and their number of unique values.

    Parameters:
    - data: pd.DataFrame
        The DataFrame to check.
    - max_unique_values: int
        The maximum number of unique values for a variable to be considered dummyable.

    Returns:
    - dummyable_vars_df: pd.DataFrame
        A DataFrame with two columns: 'Column' (column names) and 'UniqueValues' (number of unique values).
    """
    dummyable_vars = []

    for col in data.columns:
        if ((data[col].dtype == 'object') | (data[col].dtype == 'category')) and len(data[col].unique()) <= max_unique_values:
            nanValues = data[col].isna().sum()
            dummyable_vars.append({'Column': col, 'UniqueValues': len(data[col].unique()), 'TotalNan':  str(nanValues)})

    # Convert the list of dictionaries to a DataFrame
    dummyable_vars_df = pd.DataFrame(dummyable_vars)

    return dummyable_vars_df

# Inspección de variables
Cargar los documentos y revisar variables categóricas y numericas

In [12]:
df_train = pd.read_csv('training_values.csv', delimiter=',')
df_label = pd.read_csv('training_labels.csv', delimiter=',')
df_test = pd.read_csv('Test.csv', delimiter=',')

print(df_train.shape)
print(df_label.shape)
print('------')
print(df_test.shape)

(59400, 40)
(59400, 2)
------
(14850, 40)

In [ ]:
# Todo:
# Combinar df_pump y df_test para aplicar las transformaciones en ambos dataframes - crear una columna para identificar los dataframes de origen
# Validar Id's
# Verificar tipologia de variables
# Valores fuera de rango
# Eliminar las variables que no aportan información
# Verificar si hay valores nulos

In [14]:
print(df_train.columns)
df_train['original_file'] = 'train'
df_test['original_file'] = 'test'

print(df_train.columns)

# Concatenate the train and test DataFrames
# to apply transformations on both dataframes
# and create a column to identify the source DataFrame

df_pump = pd.concat([df_train, df_test], axis=0)
df_pump.info()

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'original_file'],
      dtype='object')
Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'original_file'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 74250 entries, 0 to 14849
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     74250 non-null  int64
 1   amount_tsh             74250 non-null  float64
 2   date_recorded          74250 non-null  object
 3   funder                 69743 non-null  object
 4   gps_height             74250 non-null  int64
 5   installer              69718 non-null  object
 6   longitude              74250 non-null  float64
 7   latitude               74250 non-null  float64
 8   wpt_name               74248 non-null  object
 9   num_private            74250 non-null  int64
 10  basin                  74250 non-null  object
 11  subvillage             73780 non-null  object
 12  region                 74250 non-null  object
 13  region_code            74250 non-null  int64
 14  district_code          74250 non-null  int64
 15  lga                    74250 non-null  object
 16  ward                   74250 non-null  object
 17  population             74250 non-null  int64
 18  public_meeting         70095 non-null  object
 19  recorded_by            74250 non-null  object
 20  scheme_management      69403 non-null  object
 21  scheme_name            38198 non-null  object
 22  permit                 70457 non-null  object
 23  construction_year      74250 non-null  int64
 24  extraction_type        74250 non-null  object
 25  extraction_type_group  74250 non-null  object
 26  extraction_type_class  74250 non-null  object
 27  management             74250 non-null  object
 28  management_group       74250 non-null  object
 29  payment                74250 non-null  object
 30  payment_type           74250 non-null  object
 31  water_quality          74250 non-null  object
 32  quality_group          74250 non-null  object
 33  quantity               74250 non-null  object
 34  quantity_group         74250 non-null  object
 35  source                 74250 non-null  object
 36  source_type            74250 non-null  object
 37  source_class           74250 non-null  object
 38  waterpoint_type        74250 non-null  object
 39  waterpoint_type_group  74250 non-null  object
 40  original_file          74250 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 23.8+ MB

In [15]:
print(df_pump['id'].duplicated().value_counts())
print(df_label['id'].duplicated().value_counts())

id
False    74250
Name: count, dtype: int64
id
False    59400
Name: count, dtype: int64

In [16]:
print(df_label['id'].isin(df_pump['id']).value_counts())

id
True    59400
Name: count, dtype: int64

In [17]:
var_categoricas = df_pump.select_dtypes(include=['object','category']).columns
var_num = df_pump.select_dtypes(exclude=['object','category']).columns

In [18]:
df_pump.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,original_file
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,train
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,train
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,train
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,train
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,train

In [ ]:
# Analizar las variables de forma individual desde el reporte
pr = ProfileReport(df=df_pump)
pr.to_file('reporte.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Tipología de variables

In [43]:
# Clasifico las variables por conceptos: tipo date, personas, zona, pozo y costos - de acuerdo a alguna caracteristicas común
# Para analizar en caso de que se necesite hacer inferencia
tipo_date = ['date_recorded']
tipo_zona = ["wpt_name", "basin", "subvillage", "region", "lga", "ward", "gps_height", "longitude", "latitude", "region_code", "district_code"]
tipo_costos = ['payment','payment_type']
tipo_personas = ["funder", "installer", "public_meeting", "recorded_by", "scheme_management", "scheme_name", "management", "management_group"]
tipo_pozo = ["permit", "extraction_type", "extraction_type_group", "extraction_type_class", "water_quality", "quality_group", "quantity", "quantity_group", "source", "source_type", "source_class", "waterpoint_type", "waterpoint_type_group", "amount_tsh", "population", "construction_year"]

In [8]:
print(var_categoricas)
print(var_num)

Index(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
       'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')
Index(['id', 'amount_tsh', 'gps_height', 'longitude', 'latitude',
       'num_private', 'region_code', 'district_code', 'population',
       'construction_year'],
      dtype='object')

In [ ]:
ver_a = check_possible_dummyable_variables(df_pump, 15)
ver_a.sort_values(by='UniqueValues', ascending=False)

                   Column  UniqueValues TotalNan
5   extraction_type_group            13        0
3       scheme_management            12     4847
7              management            12        0
15                 source            10        0
0                   basin             9        0
11          water_quality             8        0
9                 payment             7        0
18        waterpoint_type             7        0
16            source_type             7        0
10           payment_type             7        0
6   extraction_type_class             7        0
12          quality_group             6        0
19  waterpoint_type_group             6        0
8        management_group             5        0
13               quantity             5        0
14         quantity_group             5        0
1          public_meeting             3     4155
4                  permit             3     3793
17           source_class             3        0
20          original_file             2        0
2             recorded_by             1        0

In [57]:
#Analizar permit, public_meeting, scheme_management
# df_pump.recorded_by.value_counts(dropna=False)
#Eliminar recorded_by

# df_pump.permit.value_counts(dropna=False)
# reemplazar nan for unkown

# df_pump.public_meeting.value_counts(dropna=False, normalize=True)
# reemplazar nan for unkown

df_pump.scheme_management.value_counts(dropna=False, normalize=True)
# reemplazar nan for unkown

scheme_management
VWC                 0.618411
WUG                 0.087488
NaN                 0.065279
Water authority     0.053535
WUA                 0.047825
Water Board         0.046626
Parastatal          0.028606
Company             0.018061
Private operator    0.017859
Other               0.013414
SWC                 0.001657
Trust               0.001239
Name: proportion, dtype: float64

In [ ]:
# df_pump[pd.isna(df_pump.permit)][tipo_pozo].head()
# df_pump[pd.isna(df_pump.public_meeting)][tipo_personas].head()
df_pump[pd.isna(df_pump.scheme_management)][tipo_personas].head()

,funder,installer,public_meeting,recorded_by,scheme_management,scheme_name,management,management_group
4,Action In A,Artisan,True,GeoData Consultants Ltd,NaN,NaN,other,other
7,Rwssp,DWE,True,GeoData Consultants Ltd,NaN,NaN,wug,user-group
9,Isingiro Ho,Artisan,True,GeoData Consultants Ltd,NaN,NaN,vwc,user-group
18,Hesawa,DWE,NaN,GeoData Consultants Ltd,NaN,NaN,vwc,user-group
27,Hesawa,DWE,True,GeoData Consultants Ltd,NaN,NaN,vwc,user-group

In [58]:
df_pump['permit'] = df_pump['permit'].apply(lambda x: 'Unknown' if pd.isna(x) else x)
df_pump['public_meeting'] = df_pump['public_meeting'].apply(lambda x: 'Unknown' if pd.isna(x) else x)
df_pump['scheme_management'] = df_pump['scheme_management'].apply(lambda x: 'Unknown' if pd.isna(x) else x)

In [59]:
ver_b = check_possible_dummyable_variables(df_pump, 15)
ver_b.sort_values(by='UniqueValues', ascending=False)

                   Column  UniqueValues TotalNan
5   extraction_type_group            13        0
3       scheme_management            12        0
7              management            12        0
15                 source            10        0
0                   basin             9        0
11          water_quality             8        0
9                 payment             7        0
18        waterpoint_type             7        0
16            source_type             7        0
10           payment_type             7        0
6   extraction_type_class             7        0
12          quality_group             6        0
19  waterpoint_type_group             6        0
8        management_group             5        0
13               quantity             5        0
14         quantity_group             5        0
1          public_meeting             3        0
4                  permit             3        0
17           source_class             3        0
20          original_file             2        0
2             recorded_by             1        0

In [61]:
# Remove recorded_by
df_pump.drop(columns='recorded_by', inplace=True)

In [67]:
df_pump.extraction_type_group.value_counts(dropna=False, normalize=True)

extraction_type_group
gravity            0.447987
nira/tanira        0.137441
other              0.109118
submersible        0.104673
swn 80             0.061791
mono               0.048862
india mark ii      0.040795
afridev            0.029737
rope pump          0.007704
other handpump     0.006020
wind-powered       0.002047
other motorpump    0.002007
india mark iii     0.001818
Name: proportion, dtype: float64

In [65]:
df_pump.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74250 entries, 0 to 14849
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     74250 non-null  int64
 1   amount_tsh             74250 non-null  float64
 2   date_recorded          74250 non-null  object
 3   funder                 69743 non-null  object
 4   gps_height             74250 non-null  int64
 5   installer              69718 non-null  object
 6   longitude              74250 non-null  float64
 7   latitude               74250 non-null  float64
 8   wpt_name               74248 non-null  object
 9   num_private            74250 non-null  int64
 10  basin                  74250 non-null  object
 11  subvillage             73780 non-null  object
 12  region                 74250 non-null  object
 13  region_code            74250 non-null  int64
 14  district_code          74250 non-null  int64
 15  lga                    74250 non-null  object
 16  ward                   74250 non-null  object
 17  population             74250 non-null  int64
 18  public_meeting         74250 non-null  object
 19  scheme_management      74250 non-null  object
 20  scheme_name            38198 non-null  object
 21  permit                 74250 non-null  object
 22  construction_year      74250 non-null  int64
 23  extraction_type        74250 non-null  object
 24  extraction_type_group  74250 non-null  object
 25  extraction_type_class  74250 non-null  object
 26  management             74250 non-null  object
 27  management_group       74250 non-null  object
 28  payment                74250 non-null  object
 29  payment_type           74250 non-null  object
 30  water_quality          74250 non-null  object
 31  quality_group          74250 non-null  object
 32  quantity               74250 non-null  object
 33  quantity_group         74250 non-null  object
 34  source                 74250 non-null  object
 35  source_type            74250 non-null  object
 36  source_class           74250 non-null  object
 37  waterpoint_type        74250 non-null  object
 38  waterpoint_type_group  74250 non-null  object
 39  original_file          74250 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 23.2+ MB

In [ ]:
# Todo:
# Combinar df_pump y df_test para aplicar las transformaciones en ambos dataframes - crear una columna para identificar los dataframes de origen
# Verificar tipologia de variables
# Valores fuera de rango
# Eliminar las variables que no aportan información
# Verificar si hay valores nulos


# recorderd_by tiene un solo valor - lo eliminamos

# Revisar valores mal codificados

In [90]:
df_pump['funder'].value_counts(dropna=False)

funder
Government Of Tanzania    9084
NaN                       3637
Danida                    3114
Hesawa                    2202
Rwssp                     1374
                          ...
Rarymond Ekura               1
Justine Marwa                1
Municipal Council            1
Afdp                         1
Samlo                        1
Name: count, Length: 1897, dtype: int64

In [85]:
df_pump[df_pump['funder'].isna()][tipo_personas].head(10)

,funder,installer,public_meeting,recorded_by,scheme_management,scheme_name,management,management_group
34,NaN,NaN,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
43,NaN,NaN,True,GeoData Consultants Ltd,VWC,K,vwc,user-group
47,NaN,NaN,True,GeoData Consultants Ltd,VWC,K,vwc,user-group
65,NaN,NaN,True,GeoData Consultants Ltd,VWC,M,vwc,user-group
71,NaN,NaN,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
72,NaN,NaN,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
75,NaN,NaN,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
109,NaN,NaN,True,GeoData Consultants Ltd,VWC,N,vwc,user-group
124,NaN,NaN,True,GeoData Consultants Ltd,VWC,K,vwc,user-group
126,NaN,NaN,True,GeoData Consultants Ltd,VWC,M,vwc,user-group

In [ ]:
#df_pump[df_pump['funder'].apply(has_special_characters)][tipo_personas]

TypeError: expected string or bytes-like object, got 'float'

In [72]:
field_to_check='installer'
df_pump[df_pump[field_to_check].str.len() <= 2][field_to_check].value_counts(dropna=False, normalize=False)

installer
0     777
WU    301
DW    246
Da    224
DH    202
     ...
MW      1
R       1
Nu      1
WA      1
M       1
Name: count, Length: 109, dtype: int64

In [9]:
df_pump['subvillage'].value_counts(dropna=False, normalize=False).where(lambda x: x > 100).dropna().sort_values(ascending=False)
# .where(lambda x: x > 500).dropna().sort_values(ascending=False)

subvillage
Madukani      508.0
Shuleni       506.0
Majengo       502.0
Kati          373.0
NaN           371.0
Mtakuja       262.0
Sokoni        232.0
M             187.0
Muungano      172.0
Mbuyuni       164.0
Mlimani       152.0
Songambele    147.0
Msikitini     134.0
Miembeni      134.0
1             132.0
Kibaoni       114.0
Kanisani      111.0
I             109.0
Mapinduzi     109.0
Mjimwema      108.0
Mjini         108.0
Mkwajuni      104.0
Mwenge        102.0
Name: count, dtype: float64

In [16]:
var_zona = ['wpt_name',
'basin',
'subvillage',
'region',
'lga',
'ward',
'gps_height',
'longitude',
'latitude',
'region_code',
'district_code']
df_pump[df_pump['longitude'].isna() & df_pump['latitude'].isna()][var_zona].head(10)

Empty DataFrame
Columns: [wpt_name, basin, subvillage, region, lga, ward, gps_height, longitude, latitude, region_code, district_code]
Index: []

In [24]:
df_pump[df_pump['longitude'] <= 0 ][var_zona]

,wpt_name,basin,subvillage,region,lga,ward,gps_height,longitude,latitude,region_code,district_code
21,Muungano,Lake Victoria,Ibabachegu,Shinyanga,Bariadi,Ikungulyabashashi,0,0.0,-2.000000e-08,17,1
53,Polisi,Lake Victoria,Center,Mwanza,Geita,Nyang'hwale,0,0.0,-2.000000e-08,19,6
168,Wvt Tanzania,Lake Victoria,Ilula,Shinyanga,Bariadi,Chinamili,0,0.0,-2.000000e-08,17,1
177,Kikundi Cha Wakina Mama,Lake Victoria,Mahaha,Shinyanga,Bariadi,Bunamhala,0,0.0,-2.000000e-08,17,1
253,Kwakisusi,Lake Victoria,Nyamatala,Mwanza,Magu,Malili,0,0.0,-2.000000e-08,19,2
...,...,...,...,...,...,...,...,...,...,...,...
59189,Wazazo,Lake Victoria,Mwamabuli,Shinyanga,Bariadi,Mhunze,0,0.0,-2.000000e-08,17,1
59208,Mtakuja,Lake Victoria,Mbiti,Shinyanga,Bariadi,Kinang'weli,0,0.0,-2.000000e-08,17,1
59295,Maendeleo,Lake Victoria,Mwamalizi,Shinyanga,Bariadi,Chinamili,0,0.0,-2.000000e-08,17,1
59324,Mwazwilo,Lake Victoria,Mbita,Shinyanga,Bariadi,Mbita,0,0.0,-2.000000e-08,17,1
59374,Nguvu Kazi,Lake Victoria,Mwamtani A,Shinyanga,Bariadi,Sagata,0,0.0,-2.000000e-08,17,1

In [50]:

df_pump['subvillage'] = df_pump['subvillage'].apply(lambda x: 'Unknown' if pd.isna(x) else x)
df_pump['subvillage'].value_counts(dropna=False, normalize=False)

subvillage
Madukani        508
Shuleni         506
Majengo         502
Kati            373
Unknown         371
               ...
Kipompo           1
Chanyamilima      1
Ikalime           1
Kemagaka          1
Kikatanyemba      1
Name: count, Length: 19288, dtype: int64

In [65]:
df_pump[df_pump['subvillage'].apply(has_special_characters)]['subvillage']

5         Moa/Mwereme
59        Izimbya 'A'
114        Chang'Ombe
169            Ng'Uni
252      Maring'A Juu
             ...
59074        Maring'A
59118         Meng'We
59244        Lung'Uda
59247    Wanging'Ombe
59321       King`Ombe
Name: subvillage, Length: 1097, dtype: object

In [37]:
df_subvillage_nonzero = df_pump[((df_pump['longitude'] != 0) & (df_pump['latitude'] != 0))][var_zona]

df_subvillage_nonzero.groupby(['subvillage']).agg(
    {
        'longitude': 'max',
        'latitude': 'min'
    }
)

                   longitude  latitude
subvillage
##                 31.460087 -1.553813
'A' Kati           33.730739 -1.903902
1                  33.078106 -2.533517
18                 32.134800 -4.582413
19                 32.135162 -4.595656
...                      ...       ...
Zumbawanu Shuleni  36.510212 -6.953036
Zunga              38.366623 -6.346883
Zunguni            38.837185 -7.144544
Zunzuli            32.836876 -3.326376
Zuri               33.133778 -2.524006

[18567 rows x 2 columns]

In [33]:
df_pump[(df_pump['subvillage'] == 'Mahaha') & ((df_pump['longitude'] != 0) | (df_pump['latitude'] != 0))][var_zona]

,wpt_name,basin,subvillage,region,lga,ward,gps_height,longitude,latitude,region_code,district_code
177,Kikundi Cha Wakina Mama,Lake Victoria,Mahaha,Shinyanga,Bariadi,Bunamhala,0,0.000000,-2.000000e-08,17,1
14010,Kwa Mzee Lupindo,Lake Nyasa,Mahaha,Ruvuma,Mbinga,Liuli,459,34.662079,-1.112878e+01,10,3
25817,Muungano,Lake Victoria,Mahaha,Shinyanga,Bariadi,Bumera,0,0.000000,-2.000000e-08,17,1
27383,Muungano,Lake Victoria,Mahaha,Shinyanga,Bariadi,Bunamhala,0,0.000000,-2.000000e-08,17,1
34787,Bupandamawe,Lake Victoria,Mahaha,Shinyanga,Bariadi,Bunamhala,0,0.000000,-2.000000e-08,17,1

In [83]:
field_to_check='installer'
df_pump[df_pump[field_to_check].str.len() <= 2][field_to_check].value_counts(dropna=False, normalize=False)

installer
0     777
WU    301
DW    246
Da    224
DH    202
     ...
MW      1
R       1
Nu      1
WA      1
M       1
Name: count, Length: 109, dtype: int64

In [81]:
df_pump[df_pump['installer'] == 'RWE'][['funder', 'installer', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name','management',
       'management_group']]

,funder,installer,public_meeting,recorded_by,scheme_management,scheme_name,management,management_group
62,Norad,RWE,True,GeoData Consultants Ltd,VWC,Mkongoro One,vwc,user-group
70,Government Of Tanzania,RWE,True,GeoData Consultants Ltd,NaN,NaN,vwc,user-group
77,Government Of Tanzania,RWE,True,GeoData Consultants Ltd,VWC,Tengeru gravity water supply,vwc,user-group
143,Government Of Tanzania,RWE,True,GeoData Consultants Ltd,VWC,Vugiro,vwc,user-group
173,Dhv,RWE,True,GeoData Consultants Ltd,NaN,NaN,vwc,user-group
...,...,...,...,...,...,...,...,...
59088,World Bank,RWE,True,GeoData Consultants Ltd,VWC,Mnyuzi water supply,vwc,user-group
59104,W.D & I.,RWE,True,GeoData Consultants Ltd,VWC,Mkata ri,vwc,user-group
59205,France,RWE,True,GeoData Consultants Ltd,VWC,Tangeni,vwc,user-group
59269,Government Of Tanzania,RWE,True,GeoData Consultants Ltd,VWC,Muriti Water Supply,vwc,user-group
59317,Norad,RWE,True,GeoData Consultants Ltd,VWC,Mkongoro One,vwc,user-group

Trabajar con la variable tipo Date - que se puede extraer rapidamente valores numericos

In [ ]:
df_pump['date_recorded'] = pd.to_datetime(df_pump['date_recorded'])
df_pump['year'] = df_pump['date_recorded'].dt.year
df_pump['month'] = df_pump['date_recorded'].dt.month
df_pump['day'] = df_pump['date_recorded'].dt.day
df_pump['day_of_week'] = df_pump['date_recorded'].dt.dayofweek
df_pump['day_of_week'].value_counts(normalize=True)

day_of_week
2    0.156330
4    0.148434
3    0.148401
1    0.143131
5    0.139646
0    0.139562
6    0.124495
Name: proportion, dtype: float64

In [26]:
df_pump['duracion']=(pd.to_datetime('2013-12-31') - df_pump['date_recorded']).dt.days

In [ ]:
#Separa actividades que son realizadas por personas o entidades
df_pump[['funder', 'installer', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name','management',
       'management_group']]

,funder,installer,wpt_name,public_meeting,recorded_by,scheme_management,scheme_name,management,management_group
0,Roman,Roman,none,True,GeoData Consultants Ltd,VWC,Roman,vwc,user-group
1,Grumeti,GRUMETI,Zahanati,NaN,GeoData Consultants Ltd,Other,NaN,wug,user-group
2,Lottery Club,World vision,Kwa Mahundi,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,vwc,user-group
3,Unicef,UNICEF,Zahanati Ya Nanyumbu,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
4,Action In A,Artisan,Shuleni,True,GeoData Consultants Ltd,NaN,NaN,other,other
...,...,...,...,...,...,...,...,...,...
59395,Germany Republi,CES,Area Three Namba 27,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,water board,user-group
59396,Cefa-njombe,Cefa,Kwa Yahona Kuvala,True,GeoData Consultants Ltd,VWC,Ikondo electrical water sch,vwc,user-group
59397,NaN,NaN,Mashine,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
59398,Malec,Musa,Mshoro,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group
59399,World Bank,World,Kwa Mzee Lugawa,True,GeoData Consultants Ltd,VWC,NaN,vwc,user-group

In [50]:
# Separado para analizar con variables que tienen que ver con zonas geográficas
df_pump[['wpt_name',
'basin',
'subvillage',
'region',
'lga',
'ward']]

,wpt_name,basin,subvillage,region,lga,ward
0,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi
1,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta
2,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika
3,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu
4,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi
...,...,...,...,...,...,...
59395,Area Three Namba 27,Pangani,Kiduruni,Kilimanjaro,Hai,Masama Magharibi
59396,Kwa Yahona Kuvala,Rufiji,Igumbilo,Iringa,Njombe,Ikondo
59397,Mashine,Rufiji,Madungulu,Mbeya,Mbarali,Chimala
59398,Mshoro,Rufiji,Mwinyi,Dodoma,Chamwino,Mvumi Makulu
59399,Kwa Mzee Lugawa,Wami / Ruvu,Kikatanyemba,Morogoro,Morogoro Rural,Ngerengere

date_recorded = fecha -> calcular dia, mes, año, duracion
funder - 1986 distintos
installer - 2145 d
wpt_name
basil
subvillage
region
lga
ward
public_meeting
recorded_by - unico valor - REMOVER
scheme_management
scheme_name
permit
extraction_type
extraction_type_group
extraction_type_class
management
management_group
payment
payment_type
water_quality
quality_group
quantity
quantity_group
source
source_type
source_class
waterpoint_type
waterpoint_type_group